
.table1 td, th {
    border: 0px solid #19b2bd;
    padding: 5px;
    text-align: left;
    
}
thead tr        { 
  height:60px;
  background: #8f37d7;
  font-size:16px;
  font-weight: 800;
}

.table1 {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  height: 80%;
  width: 80%;
  position: absolute;
  left: 10%;
  top: 10% ;
  border-spacing: 1; 
  background:white;
  border-radius:6px;
  overflow:hidden;
  max-width:100%; 
  margin:0 auto;
  }
#volet4{
  width: 65%;
  height: 140%;
  position: absolute;
  left: 15%;
}
.button-center{
  text-align: right;
  
}
#input{
  width: 120px;
  font-size: 22px;
  border: none;
  border-color:  #8e37d7;
}
#editzone{
  width: 65%;
  height: 100%;
  position: absolute;
  left: 15%;
  top: 10%;
  display: none;
}
  #infos1{
    position: absolute;
    left: 34%;
    top: 30%;
  }
  h1{
    text-align: center;
  }
.input{
  border: 2px solid  #8e37d7;
  border-radius: 4px;
  height: 30px;
  width: 150%;
  
}
 #Addzone{
  width: 65%;
  height: 100%;
  position: absolute;
  left: 15%;
  top: 10%;
  display: none;
  }
 
  #infos2{
    position: absolute;
    left: 25%;
    top: 35%;
  }
  #uploadbuttons{
  
    display: block;
    margin-left: 150px;
    margin-right: 0px;
    margin-top: 50px;
    width: 70%;
  }
  #img{
    width: 40px;
    display: block;
    margin-left: 0%;
    margin-right: auto;
  }
  #Addbutton{
    width: 8%;
    height: 30px;
    display: block;
    margin-left: auto;
    margin-right: 13%;
    margin-top: 95%;
  }
  #uploadbuttons1{
    position: absolute;
    left: 40%;
    top: 80%;
    display: inline-block;
    width: 30%;
  }
  .bn632-hover {
    width: 30%;
    height: 30px;
    font-size: 12px;
    font-weight: 800;
    color: rgb(142, 239, 220);
    cursor: pointer;
    margin: 4px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:focus {
    outline: none;
  }
  
  .bn632-hover.bn20 {
    background-image: linear-gradient(
      to right,
      #667eea,
      #764ba2,
      #6b8dd6,
      #8e37d7
    );

  }