

/* Volet Actualite Debut
====================================== */

#newsliste_li{
    position: relative;
    display: block;
    left: 55em;
    width: 33em;
    border: 3px black dashed;
    border-style: hidden;
    color:#ffffff;
    overflow: auto;
    margin-left: 30%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: #92679d;
    list-style-type: none; /*effacer les petits cercles noirs qui s'exist par defaut avec les listes*/ 
}

#li_header_news_liste {
    color: #ffffff;
    background-color: #92679d;
}

.actualite_expand{
    position: relative;
    margin-left: 5%;
    width: 1200px
}

#close {
    color: #ffffff;
    background-color: #92679d;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    width: 8em;
    font-size: large;
    font-weight: 600;
}

/* Volet Actualite Fin
====================================== */