    .item1 {
        header: header;
    }
    
    .item2 {
        grid-area: menu;
    }
    
    .item3 {
        grid-area: main;
    }
    
    .item4 {
        grid-area: right;
    }
    
    .item5 {
        grid-area: footer;
    }
    
    html {
        scroll-behavior: smooth;
    }
    /* # General
================================ */
    
    body {
        font-family: "Open Sans", Helvetica, sans-serif;
    }
    /* # Footer
  ================================ */
    
    footer {
        margin-bottom: 0;
        background-color: #551265;
        height: 100px;
        color: #fff;
        margin-top: 60px;
    }
    
    footer a {
        color: #fff;
    }
    
    footer {
        width: 100vw;
    }
    
    footer .foot-main {
        background: #551265;
    }
    
    .foot-rows {
        display: flex;
        justify-content: space-between;
        flex: 25%;
        flex-wrap: wrap;
    }
    
    .foot-row {
        padding: 20px 40px;
        margin: 20px;
    }
    
    .foot-row h4 {
        color: rgb(240, 230, 230);
        margin-bottom: 20px;
        font-size: 1.6rem;
        position: relative;
        text-transform: uppercase;
    }
    
    .foot-row h4::before {
        content: "";
        position: absolute;
        left: 5px;
        bottom: -10px;
        background-color: #e91e63;
        width: 50px;
        height: 2px;
    }
    
    .foot-row li {
        list-style: none;
        margin: 15px 0;
    }
    
    .foot-row ul li a {
        text-decoration: none;
        font-weight: 300;
        display: block;
        transition: all 0.3s ease;
    }
    
    .foot-row ul li a:hover {
        color: #fff;
        padding-left: 10px;
    }
    
    .social-icon ul li {
        list-style: none;
        display: inline-block;
        border-radius: 50%;
        margin-right: 15px;
    }
    
    .foot-bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .foot-bottom a:hover {
        color: #fff;
        cursor: pointer;
    }
    
    .copy {
        color: #fff;
        margin-left: 30px;
        padding-bottom: 25px;
    }
    
    .terms {
        display: flex;
        flex-direction: row;
        color: #fff;
        padding-bottom: 25px;
        padding-right: 30px;
    }
    
    .terms span {
        margin-right: 10px;
    }
    
    .policy {
        display: flex;
        flex-direction: row;
        color: #fff;
        margin-right: 20px;
        padding-bottom: 25px;
    }
    
    @media (max-width: 768px) {
        footer .foot-main {
            width: 100%;
            margin-bottom: 30px;
        }
    }
    /* # Header, Main Menu
  ================================ */
    
    .navbar {
        opacity: 0.8;
        margin-bottom: 0;
        background-color: #551265;
        transition: all 0.2s ease-out;
    }
    
    .about {
        color: #fff;
    }
    
    .navbar-container {
        position: relative;
    }
    
    .navbar .navbar-nav li {
        font-size: 14px;
        text-transform: uppercase;
        color: #fff;
        transition: all 0.2s ease-out;
    }
    
    .navbar .navbar-nav li a {
        color: #fff;
    }
    
    .navbar .navbar-nav li a:hover {
        color: #fff;
    }
    
    .logo {
        transition: all 0.2s ease-out;
        padding-top: 20px;
        padding-bottom: 20px;
        height: 100px;
        margin-left: 30px;
    }
    
    .navbar-scroll {
        opacity: 1;
    }
    
    .dropdown {
        float: left;
        overflow: hidden;
    }
    
    .dropdown .dropbtn {
        background-color: inherit;
    }
    
    .dropdown-content {
        display: none;
        position: fixed;
        background-color: #551265;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 100;
        transition: all 0.5s;
    }
    
    .dropdown-content a {
        cursor: pointer;
    }
    
    .dropdown-content button {
        float: none;
        border: none;
        outline: none;
        color: #fff;
        padding: 12px 16px;
        text-decoration: none;
        background-color: inherit;
        display: block;
        text-align: left;
        margin: 0;
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
    
    #top-social-menu {
        display: none;
    }
    
    .news {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-content: flex-start;
        align-items: flex-start;
        position: absolute;
        bottom: 60px;
        left: 80px;
        color: #fff;
    }
    
    .news>p {
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 600;
        text-shadow: 1px 1px 2px black;
    }
    
    .news>h2 {
        font-size: 3rem;
        line-height: 160%;
        font-weight: 700;
        text-shadow: 1px 1px 2px black;
    }
    
    @media (min-width: 1024px) {
        .navbar {
            height: 120px;
        }
        .navbar-nav>li>a {
            padding: 0;
            margin-top: 35px;
            margin-left: 50px;
            line-height: 70px;
        }
        .logo {
            padding-top: 20px;
            padding-bottom: 5px;
            height: 100px;
            margin-left: 0;
        }
        #top-social-menu {
            display: initial;
        }
        /* Navbar when scrolled */
        .navbar-scroll {
            padding-top: 5px;
            padding-bottom: 5px;
            height: 70px;
        }
        .navbar-scroll #top-social-menu {
            display: none;
            transition: all 0.2s ease-out;
        }
        .navbar-scroll .logo {
            padding-top: 5px;
            padding-bottom: 15px;
            height: 70px;
        }
        .navbar-scroll .navbar-nav>li>a {
            opacity: 1;
            padding: 0;
            margin-top: 0;
        }
    }
    /* # Hover Link Effect
  ================================ */
    
    @media (min-width: 1024px) {
        .navbar-nav>li>a::after {
            position: absolute;
            top: 80%;
            left: 0;
            width: 100%;
            height: 1px;
            background: #fff;
            content: "";
            opacity: 0;
            transition: height 0.3s, opacity 0.3s, transform 0.3s;
            transform: translateY(-10px);
        }
        .navbar-nav>li>a:hover::after,
        .navbar-nav>li>a:focus::after {
            height: 2px;
            opacity: 1;
            transform: translateY(0px);
        }
    }
    /* # Social menu
  ================================ */
    
    #top-social-menu {
        position: absolute;
        top: 7px;
        right: 0;
        font-size: 12px;
        z-index: 101;
        padding-right: 0px;
        list-style: none;
        color: #fff;
        transition: all 0.2s ease-out;
    }
    
    #top-social-menu li {
        float: left;
        padding: 10px 15px;
    }
    
    #top-social-menu li:last-child {
        padding-right: 0;
    }
    
    #top-social-menu li a {
        text-decoration: none;
        color: #fff;
    }
    
    #top-social-menu li a:hover {
        text-decoration: none;
        color: #fff;
    }
    
    #top-social-menu i {
        font-size: 16px;
        transition: all 0.2s ease-in;
    }
    
    #top-social-menu i:hover {
        text-decoration: none;
        color: #fff;
    }
    /* # Section Full Width Image
  ================================ */
    
    .slider-img-1 {
        background: url("../img/Belgium-v-Morocco.webp") no-repeat center center;
        background-size: cover;
        text-align: center;
        padding-top: 100px;
        height: 450px;
        color: #fff;
    }
    
    .slider-img-2 {
        background: url("../img/img2.png") no-repeat center center;
        background-size: cover;
        text-align: center;
        padding-top: 100px;
        height: 450px;
        color: #fff;
    }
    
    .slider-img-3 {
        background: url("../img/img3.png") no-repeat center center;
        background-size: cover;
        text-align: center;
        padding-top: 100px;
        height: 450px;
        color: #fff;
    }
    
    .slider-img-4 {
        background: url("../img/BEL_MAR_F_FWC22_THUMB_V2.webp") no-repeat center center;
        background-size: cover;
        text-align: center;
        padding-top: 100px;
        height: 450px;
        color: #fff;
    }
    
    .box {
        background: rgba(0, 0, 0, 0.4);
        border: 3px solid #000;
        color: #fff;
        text-align: center;
        margin-top: 10px;
        padding: 10px 20px;
    }
    
    .subheading-text {
        list-style: none;
        font-size: 35px;
        line-height: 50px;
    }
    
    @media (min-width: 1024px) {
        .slider-img-1,
        .slider-img-4,
        .slider-img-2,
        .slider-img-3 {
            padding-top: 110px;
            height: 1000px;
        }
        .subheading-text {
            font-size: 50px;
            line-height: 70px;
        }
        .box {
            margin-top: 100px;
            padding: 80px 20px;
        }
    }
    /* # Section Black, White
  ================================ */
    
    .section-black,
    .section-white {
        padding: 50px 0;
        color: #fff;
        line-height: 1.7;
    }
    
    .section-black h3,
    .section-white h3 {
        margin-bottom: 60px;
    }
    
    .section-black p,
    .section-white p {
        margin-bottom: 60px;
    }
    
    .section-black {
        background: linear-gradient(#363437, #121112);
    }
    
    .section-white {
        background: linear-gradient(#ffffff, #f3f3f3);
        color: #0e0d0e;
    }
    /* Icons */
    
    .icon {
        width: 24px;
        height: 24px;
        display: inline-block;
        vertical-align: middle;
        background: no-repeat 0% 0%;
        -webkit-background-size: cover;
        background-size: cover;
    }
    
    .icon--twitter {
        width: 20px;
        height: 20px;
        background-image: url(../img/icons/twitter.svg);
    }
    
    .icon--facebook {
        width: 10px;
        height: 25px;
        background-image: url(../img/icons/facebook.svg);
    }
    
    .icon--arrow-down {
        width: 24px;
        height: 24px;
        background-image: url(../img/icons/dropdown.svg);
    }
    /*  */
    
    .swiper-pagination {
        position: relative;
        bottom: 40px;
        line-height: 10px;
    }
    
    .swiper-pagination .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        background-color: #7e828b;
        opacity: 1;
        transition: all 0.25s ease;
        margin-right: 3px;
    }
    
    .swiper-pagination .swiper-pagination-bullet:hover {
        background-color: #551265;
    }
    
    .swiper-pagination .swiper-pagination-bullet-active {
        width: 24px;
        background-color: #92679d;
        border-radius: 25px;
    }
    
    .swiper-pagination .swiper-pagination-bullet-active:hover {
        background-color: #551265;
    }
    
    .table1 td,
    th {
        border: 0px solid #19b2bd;
        padding: 5px;
        text-align: left;
    }
    
    thead tr {
        height: 60px;
        background: #8f37d7;
        font-size: 16px;
        font-weight: 800;
    }
    
    .table1 {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        height: 80%;
        width: 80%;
        position: absolute;
        left: 10%;
        top: 10%;
        border-spacing: 1;
        background: white;
        border-radius: 6px;
        overflow: hidden;
        max-width: 100%;
        margin: 0 auto;
    }
    /*********************************/
    
    .volet4 {
        width: 70%;
        position: relative;
    }
    
    .volet-4-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    /********************/
    
    .button-center {
        text-align: right;
    }
    /**************************************/
    
    .input {
        width: 120px;
        font-size: 22px;
        border: none;
        border-color: #8e37d7;
    }
    
    .input {
        border: 2px solid #8e37d7;
        border-radius: 4px;
        height: 30px;
        width: 150%;
    }
    /***************************************/
    
    h1 {
        text-align: center;
    }
    
    .input {
        border: 2px solid #8e37d7;
        border-radius: 4px;
        height: 30px;
        width: 150%;
    }
    
    #uploadbuttons {
        display: block;
        margin-left: 150px;
        margin-right: 0px;
        margin-top: 50px;
        width: 70%;
    }
    
    #img {
        width: 40px;
        display: block;
        margin-left: 0%;
        margin-right: auto;
    }
    
    #Addbutton {
        width: 16%;
        height: 30px;
        display: block;
        margin-left: auto;
    }
    /**************************/
    
    #uploadbuttons {
        display: block;
        margin-left: 150px;
        margin-right: 0px;
        margin-top: 50px;
        width: 70%;
    }
    /*************************/
    
    .bn632-hover {
        width: 30%;
        height: 30px;
        font-size: 12px;
        font-weight: 800;
        color: rgb(142, 239, 220);
        cursor: pointer;
        margin: 4px;
        text-align: center;
        border: none;
        background-size: 300% 100%;
        border-radius: 50px;
        -o-transition: all 0.4s ease-in-out;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }
    
    .bn632-hover:hover {
        background-position: 100% 0;
        -o-transition: all 0.4s ease-in-out;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }
    
    .bn632-hover:focus {
        outline: none;
    }
    
    .bn632-hover.bn20 {
        background-image: linear-gradient( to right, #667eea, #764ba2, #6b8dd6, #8e37d7);
    }
    /* Volet Actualite Debut
====================================== */
    
    #actualite {
        width: 15%;
        text-align: center;
    }
    
    #newsliste_li {
        position: relative;
        width: 33em;
        border: 3px black dashed;
        border-style: hidden;
        color: #ffffff;
        overflow: auto;
        /* margin-left: 30%; */
        /* padding-left: 2%; */
        /* padding-right: 2%; */
        background-color: #c6a5ce;
        list-style-type: none;
        /*effacer les petits cercles noirs qui s'exist par defaut avec les listes*/
    }
    
    #li_header_news_liste {
        color: #ffffff;
        background-color: #92679d;
    }
    /* .actualite_expand {
            position: relative;
            margin-left: 5%;
            width: 1200px;
        } */
    
    #close {
        color: #ffffff;
        background-color: #92679d;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3em;
        width: 8em;
        font-size: large;
        font-weight: 600;
    }
    /* Volet Actualite Fin
====================================== */
    
    @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
    body {
        font-family: "Montserrat";
    }
    
    h1 {
        text-align: center;
    }
    
    h3 {
        padding-left: 20px;
        padding-bottom: 20p;
        padding-top: 20px;
    }
    
    h2 {
        text-align: center;
    }
    
    thead tr {
        height: 60px;
        background: #ffffff;
        font-size: 16px;
        font-weight: 800;
        color: white;
    }
    
    .background {
        background-image: url("../img/fifa.jpg");
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;
    }
    
    .hide {
        display: none;
    }
    
    .equipe {
        background-color: transparent;
        color: rgb(0, 0, 0);
        display: block;
        padding: 2px 1px 1px 2px;
    }
    
    .group-name {
        list-style-type: none;
        background-color: white;
        color: rgb(56, 8, 54);
        font-weight: bold;
        text-align: center;
    }
    
    img.flag-team-list {
        height: 36px;
        width: 53px;
    }
    
    li.group-team {
        display: flex;
        padding: 5px 0;
    }
    
    .content {
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
        align-content: stretch;
        justify-content: flex-start;
        align-items: flex-start;
    }
    
    .center {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    
    li.group-team .btn {
        border: none;
        background-color: #661e8893;
        color: white;
        font-weight: 500;
        width: 100%;
        border-bottom-right-radius: 1px;
        border-top-right-radius: 1px;
    }
    
    .player-bloc {
        /* height: 7rem; */
        width: 7rem;
        display: flex;
        background-color: #0000005c;
        border-radius: 1rem;
        margin: 0.1rem;
        flex-direction: column;
        flex-wrap: nowrap;
        /* border: 1.5px solid rgba(255, 254, 254, 0.637); */
        align-items: center;
        cursor: pointer;
    }
    
    .player-bloc .selected {
        background-color: #0000005c;
    }
    
    .players-bloc {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .player-bloc:hover {
        animation-name: bounce;
        animation-timing-function: ease;
    }
    
    @keyframes bounce {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-20px);
        }
        100% {
            transform: translateY(0);
        }
    }
    
    .player-bloc>img {
        height: 6rem;
        width: 6rem;
        /* border-top-left-radius: 5px;
    border-top-right-radius: 5px; */
        position: relative;
        /* left: 19px;
    top:19px; */
        /* width: 90px;
    height: 90px; */
        color: rgba(252, 248, 248, 0);
        text-align: center;
        border-radius: 45%;
    }
    
    .player-bloc .player-name {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
        color: white;
        /* background-color: rebeccapurple; */
        /* padding: .1rem; */
        border-radius: 0.5rem;
        position: relative;
    }
    
    .selected-group {
        width: 230px;
        position: relative;
        margin: 0 1rem;
    }
    
    .selected-group h2 {
        color: rgb(255, 255, 255);
        background: #712caad2;
        padding: 10px 20px;
        font-size: 20px;
        font-weight: 700;
        /* border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
    }
    
    .selected-group ul {
        position: relative;
        background: #fff;
        padding: 0;
    }
    
    .selected-group ul .group-team {
        list-style: none;
        padding: 10px 0;
        width: 100%;
        background: rgba(255, 255, 255, 0);
        box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
        transition: transform 0.5s;
    }
    
    .selected-group ul .group-team:hover {
        transform: scale(1.1);
        z-index: 100;
        background: #8caca855;
        box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
        color: #fff;
    }
    
    .table1 td,
    th {
        border: 0px solid #19b2bd;
        padding: 5px;
        text-align: left;
    }
    
    .table1 {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        /* height: 80%; */
        width: 80%;
        position: relative;
        background: white;
        margin: 0 auto;
    }
    
    .volet4 {
        width: 70%;
        position: relative;
    }
    
    .volet-4 {
        display: flex;
        justify-content: center;
    }
    
    .button-center {
        text-align: right;
    }
    
    .input {
        width: 120px;
        font-size: 22px;
        border: none;
        border-color: #8e37d7;
    }
    
    .input {
        border: 2px solid #8e37d7;
        border-radius: 4px;
        height: 30px;
        width: 150%;
    }
    
    #uploadbuttons {
        display: block;
        margin-left: 150px;
        margin-right: 0px;
        margin-top: 50px;
        width: 70%;
    }
    
    #img {
        width: 40px;
        display: block;
        margin-left: 0%;
        margin-right: auto;
    }
    
    .bn632-hover {
        width: 30%;
        height: 30px;
        font-size: 12px;
        font-weight: 800;
        color: rgb(142, 239, 220);
        cursor: pointer;
        margin: 4px;
        text-align: center;
        border: none;
        background-size: 300% 100%;
        border-radius: 50px;
        -o-transition: all 0.4s ease-in-out;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }
    
    .bn632-hover:hover {
        background-position: 100% 0;
        -o-transition: all 0.4s ease-in-out;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }
    
    .bn632-hover:focus {
        outline: none;
    }
    
    .bn632-hover.bn20 {
        background-image: linear-gradient( to right, #667eea, #764ba2, #6b8dd6, #8e37d7);
    }
    /**********ajouter*******************/
    
    .Xbtn {
        /* border-color: #ffffff; */
        padding: 0.6em 0.6em;
        cursor: pointer;
        font-size: 0.6em;
        color: #030303;
        background-image: linear-gradient(45deg, transparent 0%, #806497d2 0%);
        background-position: 25%;
        background-size: 50%;
        border-radius: 0%;
        border-color: transparent;
    }
    
    .Xbtn:hover {
        color: #08080849;
        background-position: 100%;
    }
    
    .Addbutton {
        width: 90%;
        /* height: 30px; */
        display: block;
        /* margin-left: auto; */
        /* margin-right: 13%; */
        position: relative;
    }
    
    .table1 th {
        background: #66339991;
    }
    
    .vol-3 h4 {
        color: white;
        font-size: 1.2rem;
        text-transform: capitalize;
        margin: 0;
        padding: 1rem;
    }
    
    div.vol-3 {
        position: relative;
        margin: 0;
        width: 100%;
    }
    
    .collapsible {
        background-color: #55126520;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 20px;
        font-weight: 600;
        border-radius: 20px;
    }
    
    .collapsible-content {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: #f1f1f1;
    }
    
    .active,
    .collapsible:hover {
        background-color: #55126540;
    }
    
    .groupe-header {
        margin-bottom: 25px;
    }
    /*  Terms & Conditions */
    
    .terms-section .title {
        background: url("../img/Hihgights-Page-All-Versions-New-banner.webp") no-repeat center center;
        background-size: cover;
        text-align: center;
        padding-top: 100px;
        height: 1000px;
        color: #fff;
    }
    
    .terms-section .title>h1 {
        margin-top: 450px;
        font-size: 55px;
        text-shadow: 1px 1px 2px black;
    }
    
    .terms-section p {
        font-size: 18px;
    }
    
    .terms-section h2 {
        text-align: start;
    }
    
    .content-terms {
        padding-left: 1rem;
        padding-right: 1rem;
        margin-top: 6rem;
        margin-bottom: 6rem;
        max-width: 65rem;
        text-align: justify;
        margin-left: auto;
        margin-right: auto;
        flex-grow: 1;
        overflow-y: scroll;
    }
    
    .terms-block {
        width: 100%;
        max-width: 900px;
        max-height: 700px;
        padding: 30px 70px;
        background-color: #55126515;
        border: 1px solid rgba(43, 43, 48, 0.5);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
    }
    
    .content-terms h1 {
        font-size: 2.25rem;
        line-height: 2.5rem;
        text-align: center;
    }
    
    .content-terms .container__content {
        background-color: #212125;
    }
    
    body.light-version .content-terms .container__content {
        background-color: #fff;
    }
    
    .content-terms .container__heading>h1 {
        margin-bottom: 30px;
        text-align: center;
    }
    
    .content-terms .container__heading p {
        margin-top: 5px;
        margin-bottom: 2px;
    }
    /* Table style  */
    
    table {
        border-collapse: collapse;
        width: 100%;
        background: #fff;
    }
    
    th {
        background-color: #551265;
        font-weight: bold;
        color: #fff;
        white-space: nowrap;
    }
    
    td,
    th {
        padding: 1em 1.5em;
        text-align: left;
    }
    
    tbody th {
        background-color: #2ea879;
    }
    
    tbody tr:nth-child(2n-1) {
        background-color: #f5f5f5;
        transition: all .125s ease-in-out;
    }
    
    tbody tr:hover {
        background-color: #55126520;
    }
    
    .classment {
        display: flex;
    }
    
    #matches-img {
        width: 95%;
    }
    /* Blog */
    
    hr {
        height: 1px;
        border: 0;
        background-color: #00b8ff;
        margin-top: 1.2rem!important;
        margin-bottom: 1.2rem!important;
    }
    
    .blog-container {
        display: flex;
        justify-content: center;
        background-color: #E4E8F0;
        margin-top: 11rem;
        padding-bottom: 10rem;
    }
    
    .blog {
        padding-top: 0.5rem;
        background: #fff;
        color: #03122B;
    }
    
    .blog-header {
        padding-left: 10rem;
        padding-right: 10rem;
    }
    
    .blog-title {
        font-size: 3.25rem!important;
        font-weight: 500;
        font-family: "Poppins 500", "Noto Sans Regular", "Helvetica Neue", Arial, sans-serif;
        line-height: 1.5;
        text-align: start;
    }
    
    .blog-sub-title {
        font-size: 2.25rem!important;
        font-family: "Poppins Regular", "Noto Sans Regular", "Helvetica Neue", Arial, sans-serif;
        line-height: 1.5;
        margin-bottom: 2rem;
    }
    
    .blog>img {
        width: 100%;
    }
    
    .blog {
        flex: 0 0 auto;
        width: 100%;
    }
    
    .blog-content p {
        font-size: 1.75rem!important;
        line-height: 1.6;
        margin-bottom: 15px;
        text-align: justify;
    }
    
    .blog-content {
        padding-left: 10rem;
        padding-right: 10rem;
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
    
    @media (min-width: 1024px) {
        .blog {
            flex: 0 0 auto;
            width: 75%;
        }
        /* .blog-container {
                max-width: calc(100% - 5.5rem);
            } */
    }
    
    @media (min-width: 1440px) {
        .blog {
            flex: 0 0 auto;
            width: 75%;
        }
        /* .blog-container {
                max-width: calc(100% - 10rem);
            } */
    }